body{
    display:block;
}
.headerpage{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    background: #000;
    color: #fff;
    font-family: Poppins,sans-serif;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
}
.myname{
    margin-left: 20px;
    font-family: Lora,serif;
    font-size: 1.8rem;
    letter-spacing: 2px;
    
}
.linkhead{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 1!important;
    text-align: center;
    text-decoration: none;
    position: static;
    flex-basis: 100%;
    margin-bottom: 20px;

}
.navibar{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-start;
    width: 100%;

}
.navibar button{
    padding: 10px 15px;
    color: #ffff;
    background-color:#000;
    border: none;
}

.spacing{
    height: 100px;
}
.spacing2{
    height: 200px;

}
.presentation{
     background: #465061;
     color: #ffff; 
}
.wholepresentation{
    position:  relative;    
    width: 100%;    
    max-width: 1100px;    
    margin: 0 auto;    
    padding: 40px;    
    text-align: center;
}
.home{
    margin-left: 20px;
    font-family: Lora,serif;
    font-size: 1.8rem;
    text-align: center;
    align-content: center;
    padding-bottom: 20px;
}
.icons{
    align-items: center;
    align-content: center;
    color: #fff;
    margin-left:15px;
}
.fa-brands{
    color:#ffff;
}
.fa-solid{
    color: #ffff;
}
.fa-regular{
    color: #ffff;
}
.icons a{
    padding-right: 10px;
}
.minhthong{
    position: static;
    flex-basis: 100%;
    margin-bottom: 20px;
}
.HomepageFeaturedContent_video__y81wQ{
    display: block;
    width: 100%;
    height: auto;
    background: #000;
}
.homeslide{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "left slides right";
    max-width: 70%;
    width: 800px;
    margin: 0 auto;
}
.carousel{
    background-color: #465061;
}
.navpage{
    background-color: #eee;
}
.mb-3{
    margin: 0 auto;
}
.navpage ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    color: inherit;
    border: none;
    font-family: Poppins,sans-serif;
    font-size: .9em;
    text-decoration: none;
    min-width: 50px;
    min-height: 50px;
    margin: auto;
    padding: 10px 15px;
    background: #eee;
    color: #000;
}
#pills-tab{
    margin: 0 auto;
}
.topics{
    display:flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 1.2rem;

}
.nav-pills .active{
    margin: 0 auto;
    background-color: #eee;
}
.nav-link{
    
    color: #eee;
    
}
.tab-pane.show.active{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 80%;
}
.tab-pane .fade .active .show{
    justify-content: center;
    max-width: 80%;
}

.elementtab img{
    display: block;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    flex-direction: column;
}
.elementtab {
    width: calc(25% - 20px);
    padding: 10px;
    text-decoration: none;
    justify-content: center;
    justify-items: center;
}
.topics .nav-link.active{
    background-color: #b3e5fc !important;
    color:#000 !important;
    border-radius: 0%;
}
.topics .nav-link{
    color: #000 !important;

}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.tab-content{
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}
.elementtab div{
    color: #000;
    text-align: center ;
    font-weight: 500;
    font-size: 14px;
}
.elementtab:hover{
    background-color:#b3e5fc;
    color: #03a9f4 !important;
}
.bydateelement{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: inherit;
    line-height: normal;
    text-decoration: none;
    text-align: left;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    margin-left: 0;
}
.bydateelement:hover{
    background-color: #b3e5fc;
    color: #03a9f4;
}
.bydateelementimg{
    position: relative;
    overflow: hidden;
    width: 300px;
    padding-right: 20px;
}
.bydateelementimg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.contenttitle{
    font-family: Poppins,sans-serif;
    font-weight: 550;
    
}
.contentcontent{
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bydateelementcontent span{
    width :100%;
}
.bydateelementcontent{
    display: grid;
    grid-gap: 20px;
    flex-grow: 1;
    word-break: break-word;
    width: 100%;
}
.Chip_chip__3Fu48{
    margin: 5px;
    padding: 2px 8px;
    background: #b3e5fc;
    border-radius: 999px;
    font-size: .8rem;
    vertical-align: middle;
    letter-spacing: 0;
}
.notebooks{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.notebooks h2{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    line-height: 1.45;
    margin: 60px 0 30px;
    padding: 10px 0;
}

.anchor{
    display: none;
}
#newnote:hover .anchor{
    display: inline;
}
#noteimg{
    display:block;
    margin: 0 auto;
}
#notediv{
    justify-content: center;
}
.endofpage{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        background: #000;
        color: #fff;
        font-family: Poppins,sans-serif;
        overflow: hidden;
        -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 25%), inset 0 0 200px 0 #000;
        box-shadow: 0 0 10px rgb(0 0 0 / 25%), inset 0 0 200px 0 #000;
    }
h1{
    margin-bottom: 12px;
    font-size: 28px!important;
}

.sendmail{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding-left: 30px;
    border: 3px;
    border-color: #03a9f4;
}

.mailing-list a{
    width: 100%;
    display: inline;
    text-decoration: none;
    margin: 0 auto 20px;
    font-family: 'Lobster', cursive;
    font-size: 10px;
    font-weight: 700;
    color: #000;
}
.mailing-form .a .h1{

}
.mailing-list{
    background-color: #fafafa;
    display:inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 12px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    height:500px;
}
.sendmail input{
    display: inline-block;
    padding: 10px;
    height: 52px;
    border: 2px solid;
    border-right-width: 2px;
    border-radius: 4px 0 0 4px;
    font-family: 'Lobster', cursive;
    font-size: 16px;
    line-height: 19px;
    border-color: #03a9f4;
}
.mail-holder{
    max-width: 370px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 200px;
}
.sendmail button{
    margin-top: 0;
    padding: 10px 12px;
    height: 52px;
    background: #03a9f4;
    border: 1px solid;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    border: 2px solid #03a9f4 ;
}